In [1]:
# Visualize the data
import pandas as pd
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format
plt.style.use("seaborn-v0_8-whitegrid")

In [2]:
close = pd.read_csv("close.csv", index_col = "Date", parse_dates= ["Date"])
close

,BA,BTC-USD,EURUSD=X,GC=F,MSFT,RELIANCE.NS,^DJI
Date,,,,,,,
2014-10-01,108.4067,383.6150,1.2628,1214.6000,38.8802,198.4096,16804.7109
2014-10-02,107.9719,375.0720,1.2624,1214.2000,38.7616,NaN,16801.0508
2014-10-03,109.8762,359.5120,1.2671,1192.2000,39.0411,NaN,17009.6895
2014-10-04,NaN,328.8660,NaN,NaN,NaN,NaN,NaN
2014-10-05,NaN,320.5100,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2026-02-05,236.9500,62702.0977,1.1802,4861.3999,393.6700,1443.4000,48908.7188
2026-02-06,243.0300,70555.3906,1.1778,4951.2002,401.1400,1450.8000,50115.6719
2026-02-07,NaN,69281.9688,NaN,NaN,NaN,NaN,NaN
2026-02-08,NaN,70264.7266,NaN,NaN,NaN,NaN,NaN
2026-02-09,244.7100,70120.7812,1.1826,5050.8999,413.6000,1461.6000,50135.8711

In [3]:
msft = close.MSFT.dropna().to_frame().copy()

In [4]:
msft

               MSFT
Date
2014-10-01  38.8802
2014-10-02  38.7616
2014-10-03  39.0411
2014-10-06  39.0411
2014-10-07  38.5667
...             ...
2026-02-03 411.2100
2026-02-04 414.1900
2026-02-05 393.6700
2026-02-06 401.1400
2026-02-09 413.6000

[2856 rows x 1 columns]

In [6]:
msft.rename(columns={"MSFT":"Price"}, inplace=True)

In [7]:
msft

              Price
Date
2014-10-01  38.8802
2014-10-02  38.7616
2014-10-03  39.0411
2014-10-06  39.0411
2014-10-07  38.5667
...             ...
2026-02-03 411.2100
2026-02-04 414.1900
2026-02-05 393.6700
2026-02-06 401.1400
2026-02-09 413.6000

[2856 rows x 1 columns]

In [8]:
msft["P_lag1"] = msft.shift(periods = 1)
msft
# shift price by 1 day, so that it is wasy to compare

              Price   P_lag1
Date
2014-10-01  38.8802      NaN
2014-10-02  38.7616  38.8802
2014-10-03  39.0411  38.7616
2014-10-06  39.0411  39.0411
2014-10-07  38.5667  39.0411
...             ...      ...
2026-02-03 411.2100 423.3700
2026-02-04 414.1900 411.2100
2026-02-05 393.6700 414.1900
2026-02-06 401.1400 393.6700
2026-02-09 413.6000 401.1400

[2856 rows x 2 columns]

In [9]:
# Absolute Price Changes (Difference)
msft["P_diff"] = msft.Price.sub(msft.P_lag1) # Alternate 1

In [10]:
msft

              Price   P_lag1   P_diff
Date
2014-10-01  38.8802      NaN      NaN
2014-10-02  38.7616  38.8802  -0.1186
2014-10-03  39.0411  38.7616   0.2795
2014-10-06  39.0411  39.0411   0.0000
2014-10-07  38.5667  39.0411  -0.4744
...             ...      ...      ...
2026-02-03 411.2100 423.3700 -12.1600
2026-02-04 414.1900 411.2100   2.9800
2026-02-05 393.6700 414.1900 -20.5200
2026-02-06 401.1400 393.6700   7.4700
2026-02-09 413.6000 401.1400  12.4600

[2856 rows x 3 columns]

In [13]:
msft["P_diff2"] = msft.Price.diff(periods=1) # Alternate 2
msft

              Price   P_lag1   P_diff  P_diff2
Date
2014-10-01  38.8802      NaN      NaN      NaN
2014-10-02  38.7616  38.8802  -0.1186  -0.1186
2014-10-03  39.0411  38.7616   0.2795   0.2795
2014-10-06  39.0411  39.0411   0.0000   0.0000
2014-10-07  38.5667  39.0411  -0.4744  -0.4744
...             ...      ...      ...      ...
2026-02-03 411.2100 423.3700 -12.1600 -12.1600
2026-02-04 414.1900 411.2100   2.9800   2.9800
2026-02-05 393.6700 414.1900 -20.5200 -20.5200
2026-02-06 401.1400 393.6700   7.4700   7.4700
2026-02-09 413.6000 401.1400  12.4600  12.4600

[2856 rows x 4 columns]

In [ ]:
## Relative / Percentage Price changes (returns)

In [14]:
msft.Price.div(msft.P_lag1) - 1 #Alternate 1

Date
2014-10-01       NaN
2014-10-02   -0.0031
2014-10-03    0.0072
2014-10-06    0.0000
2014-10-07   -0.0122
               ...
2026-02-03   -0.0287
2026-02-04    0.0072
2026-02-05   -0.0495
2026-02-06    0.0190
2026-02-09    0.0311
Length: 2856, dtype: float64

In [16]:
msft["Returns"] = msft.Price.pct_change(periods=1) # Alternate 2
msft

              Price   P_lag1   P_diff  P_diff2  Returns
Date
2014-10-01  38.8802      NaN      NaN      NaN      NaN
2014-10-02  38.7616  38.8802  -0.1186  -0.1186  -0.0031
2014-10-03  39.0411  38.7616   0.2795   0.2795   0.0072
2014-10-06  39.0411  39.0411   0.0000   0.0000   0.0000
2014-10-07  38.5667  39.0411  -0.4744  -0.4744  -0.0122
...             ...      ...      ...      ...      ...
2026-02-03 411.2100 423.3700 -12.1600 -12.1600  -0.0287
2026-02-04 414.1900 411.2100   2.9800   2.9800   0.0072
2026-02-05 393.6700 414.1900 -20.5200 -20.5200  -0.0495
2026-02-06 401.1400 393.6700   7.4700   7.4700   0.0190
2026-02-09 413.6000 401.1400  12.4600  12.4600   0.0311

[2856 rows x 5 columns]

In [17]:
msft.drop(columns=["P_lag1","P_diff","P_diff2"], inplace = True)