In [1]:
import pandas as py
import yfinance as yf

In [17]:
start="2014-10-01"
end="2026-02-10"

In [18]:
symbol= ["BA", "MSFT", "^DJI", "EURUSD=X", "GC=F", "BTC-USD"]

In [19]:
yf.download(symbol, start, end)

[*********************100%***********************]  6 of 6 completed

Price            Close                                                   \
Ticker              BA       BTC-USD  EURUSD=X         GC=F        MSFT
Date
2014-10-01  108.406685    383.614990  1.262834  1214.599976   38.880157
2014-10-02  107.971893    375.071991  1.262419  1214.199951   38.761578
2014-10-03  109.876198    359.511993  1.267058  1192.199951   39.041115
2014-10-04         NaN    328.865997       NaN          NaN         NaN
2014-10-05         NaN    320.510010       NaN          NaN         NaN
...                ...           ...       ...          ...         ...
2026-02-05  236.949997  62702.097656  1.180164  4861.399902  393.670013
2026-02-06  243.029999  70555.390625  1.177787  4951.200195  401.140015
2026-02-07         NaN  69281.968750       NaN          NaN         NaN
2026-02-08         NaN  70264.726562       NaN          NaN         NaN
2026-02-09  244.710007  70120.781250  1.182578  5050.899902  413.600006

Price                           High                                       \
Ticker              ^DJI          BA       BTC-USD  EURUSD=X         GC=F
Date
2014-10-01  16804.710938  110.754471    391.378998  1.263999  1217.800049
2014-10-02  16801.050781  109.171875    385.497009  1.269050  1219.500000
2014-10-03  17009.689453  110.319670    377.695007  1.266994  1212.400024
2014-10-04           NaN         NaN    364.487000       NaN          NaN
2014-10-05           NaN         NaN    341.800995       NaN          NaN
...                  ...         ...           ...       ...          ...
2026-02-05  48908.718750  240.330002  73161.554688  1.182047  5012.299805
2026-02-06  50115.671875  246.300003  71681.304688  1.182648  4958.500000
2026-02-07           NaN         NaN  71611.148438       NaN          NaN
2026-02-08           NaN         NaN  72206.906250       NaN          NaN
2026-02-09  50135.871094  245.839996  71369.968750  1.192520  5065.700195

Price       ...      Open                                            Volume  \
Ticker      ...  EURUSD=X         GC=F        MSFT          ^DJI         BA
Date        ...
2014-10-01  ...  1.262913  1207.699951   39.193570  17040.460938  5265200.0
2014-10-02  ...  1.262499  1215.300049   38.820875  16808.269531  3204500.0
2014-10-03  ...  1.266994  1212.400024   38.947937  16802.199219  3075900.0
2014-10-04  ...       NaN          NaN         NaN           NaN        NaN
2014-10-05  ...       NaN          NaN         NaN           NaN        NaN
...         ...       ...          ...         ...           ...        ...
2026-02-05  ...  1.180233  5008.700195  407.440002  49313.039062  7377300.0
2026-02-06  ...  1.177745  4762.000000  399.170013  49032.191406  6701200.0
2026-02-07  ...       NaN          NaN         NaN           NaN        NaN
2026-02-08  ...       NaN          NaN         NaN           NaN        NaN
2026-02-09  ...  1.182620  5017.399902  404.850006  50047.789062  4707200.0

Price
Ticker           BTC-USD EURUSD=X    GC=F        MSFT         ^DJI
Date
2014-10-01      26229400      0.0   178.0  38088400.0  104240000.0
2014-10-02      21777700      0.0   176.0  25119400.0   75490000.0
2014-10-03      30901200      0.0   499.0  32453200.0   87940000.0
2014-10-04      47236500      NaN     NaN         NaN          NaN
2014-10-05      83308096      NaN     NaN         NaN          NaN
...                  ...      ...     ...         ...          ...
2026-02-05  125509410908      0.0   793.0  66289200.0  710270000.0
2026-02-06  114674259489      0.0  1386.0  53515300.0  775490000.0
2026-02-07   62347107663      NaN     NaN         NaN          NaN
2026-02-08   39721722619      NaN     NaN         NaN          NaN
2026-02-09   52081598792      0.0   170.0  45480500.0  623640000.0

[4150 rows x 30 columns]

In [20]:
df = yf.download(symbol, start, end)

[*********************100%***********************]  6 of 6 completed

In [21]:
print(df)

Price            Close                                                   \
Ticker              BA       BTC-USD  EURUSD=X         GC=F        MSFT
Date
2014-10-01  108.406685    383.614990  1.262834  1214.599976   38.880157
2014-10-02  107.971893    375.071991  1.262419  1214.199951   38.761578
2014-10-03  109.876198    359.511993  1.267058  1192.199951   39.041115
2014-10-04         NaN    328.865997       NaN          NaN         NaN
2014-10-05         NaN    320.510010       NaN          NaN         NaN
...                ...           ...       ...          ...         ...
2026-02-05  236.949997  62702.097656  1.180164  4861.399902  393.670013
2026-02-06  243.029999  70555.390625  1.177787  4951.200195  401.140015
2026-02-07         NaN  69281.968750       NaN          NaN         NaN
2026-02-08         NaN  70264.726562       NaN          NaN         NaN
2026-02-09  244.710007  70120.781250  1.182578  5050.899902  413.600006

Price                           High                                       \
Ticker              ^DJI          BA       BTC-USD  EURUSD=X         GC=F
Date
2014-10-01  16804.710938  110.754471    391.378998  1.263999  1217.800049
2014-10-02  16801.050781  109.171875    385.497009  1.269050  1219.500000
2014-10-03  17009.689453  110.319670    377.695007  1.266994  1212.400024
2014-10-04           NaN         NaN    364.487000       NaN          NaN
2014-10-05           NaN         NaN    341.800995       NaN          NaN
...                  ...         ...           ...       ...          ...
2026-02-05  48908.718750  240.330002  73161.554688  1.182047  5012.299805
2026-02-06  50115.671875  246.300003  71681.304688  1.182648  4958.500000
2026-02-07           NaN         NaN  71611.148438       NaN          NaN
2026-02-08           NaN         NaN  72206.906250       NaN          NaN
2026-02-09  50135.871094  245.839996  71369.968750  1.192520  5065.700195

Price       ...      Open                                            Volume  \
Ticker      ...  EURUSD=X         GC=F        MSFT          ^DJI         BA
Date        ...
2014-10-01  ...  1.262913  1207.699951   39.193570  17040.460938  5265200.0
2014-10-02  ...  1.262499  1215.300049   38.820875  16808.269531  3204500.0
2014-10-03  ...  1.266994  1212.400024   38.947937  16802.199219  3075900.0
2014-10-04  ...       NaN          NaN         NaN           NaN        NaN
2014-10-05  ...       NaN          NaN         NaN           NaN        NaN
...         ...       ...          ...         ...           ...        ...
2026-02-05  ...  1.180233  5008.700195  407.440002  49313.039062  7377300.0
2026-02-06  ...  1.177745  4762.000000  399.170013  49032.191406  6701200.0
2026-02-07  ...       NaN          NaN         NaN           NaN        NaN
2026-02-08  ...       NaN          NaN         NaN           NaN        NaN
2026-02-09  ...  1.182620  5017.399902  404.850006  50047.789062  4707200.0

Price
Ticker           BTC-USD EURUSD=X    GC=F        MSFT         ^DJI
Date
2014-10-01      26229400      0.0   178.0  38088400.0  104240000.0
2014-10-02      21777700      0.0   176.0  25119400.0   75490000.0
2014-10-03      30901200      0.0   499.0  32453200.0   87940000.0
2014-10-04      47236500      NaN     NaN         NaN          NaN
2014-10-05      83308096      NaN     NaN         NaN          NaN
...                  ...      ...     ...         ...          ...
2026-02-05  125509410908      0.0   793.0  66289200.0  710270000.0
2026-02-06  114674259489      0.0  1386.0  53515300.0  775490000.0
2026-02-07   62347107663      NaN     NaN         NaN          NaN
2026-02-08   39721722619      NaN     NaN         NaN          NaN
2026-02-09   52081598792      0.0   170.0  45480500.0  623640000.0

[4150 rows x 30 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3895 entries, 2014-10-01 to 2025-05-30
Freq: D
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, BA)         2682 non-null   float64
 1   (Close, BTC-USD)    3895 non-null   float64
 2   (Close, EURUSD=X)   2777 non-null   float64
 3   (Close, GC=F)       2680 non-null   float64
 4   (Close, MSFT)       2682 non-null   float64
 5   (Close, ^DJI)       2682 non-null   float64
 6   (High, BA)          2682 non-null   float64
 7   (High, BTC-USD)     3895 non-null   float64
 8   (High, EURUSD=X)    2777 non-null   float64
 9   (High, GC=F)        2680 non-null   float64
 10  (High, MSFT)        2682 non-null   float64
 11  (High, ^DJI)        2682 non-null   float64
 12  (Low, BA)           2682 non-null   float64
 13  (Low, BTC-USD)      3895 non-null   float64
 14  (Low, EURUSD=X)     2777 non-null   float64
 15  (Low, GC=F)         2680 non-null   float64
 16  (Low, MSFT)         2682 non-null   float64
 17  (Low, ^DJI)         2682 non-null   float64
 18  (Open, BA)          2682 non-null   float64
 19  (Open, BTC-USD)     3895 non-null   float64
 20  (Open, EURUSD=X)    2777 non-null   float64
 21  (Open, GC=F)        2680 non-null   float64
 22  (Open, MSFT)        2682 non-null   float64
 23  (Open, ^DJI)        2682 non-null   float64
 24  (Volume, BA)        2682 non-null   float64
 25  (Volume, BTC-USD)   3895 non-null   int64
 26  (Volume, EURUSD=X)  2777 non-null   float64
 27  (Volume, GC=F)      2680 non-null   float64
 28  (Volume, MSFT)      2682 non-null   float64
 29  (Volume, ^DJI)      2682 non-null   float64
dtypes: float64(29), int64(1)
memory usage: 943.3 KB

In [22]:
df.to_csv("multi_assets.csv")

In [9]:
# Visualize the data
import pandas as pd
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format
plt.style.use("seaborn-v0_8-whitegrid")

In [11]:
df = pd.read_csv("multi_assets.csv", header = [0,1], index_col=0, parse_dates=[0])

Price         Close                                                    \
Ticker           BA    BTC-USD EURUSD=X      GC=F     MSFT       ^DJI
Date
2014-10-01 108.4067   383.6150   1.2628 1214.6000  38.8802 16804.7109
2014-10-02 107.9719   375.0720   1.2624 1214.2000  38.7616 16801.0508
2014-10-03 109.8762   359.5120   1.2671 1192.2000  39.0411 17009.6895
2014-10-04      NaN   328.8660      NaN       NaN      NaN        NaN
2014-10-05      NaN   320.5100      NaN       NaN      NaN        NaN
...             ...        ...      ...       ...      ...        ...
2026-02-05 236.9500 62702.0977   1.1802 4861.3999 393.6700 48908.7188
2026-02-06 243.0300 70555.3906   1.1778 4951.2002 401.1400 50115.6719
2026-02-07      NaN 69281.9688      NaN       NaN      NaN        NaN
2026-02-08      NaN 70264.7266      NaN       NaN      NaN        NaN
2026-02-09 244.7100 70120.7812   1.1826 5050.8999 413.6000 50135.8711

Price          High                                ...     Open            \
Ticker           BA    BTC-USD EURUSD=X      GC=F  ... EURUSD=X      GC=F
Date                                               ...
2014-10-01 110.7545   391.3790   1.2640 1217.8000  ...   1.2629 1207.7000
2014-10-02 109.1719   385.4970   1.2691 1219.5000  ...   1.2625 1215.3000
2014-10-03 110.3197   377.6950   1.2670 1212.4000  ...   1.2670 1212.4000
2014-10-04      NaN   364.4870      NaN       NaN  ...      NaN       NaN
2014-10-05      NaN   341.8010      NaN       NaN  ...      NaN       NaN
...             ...        ...      ...       ...  ...      ...       ...
2026-02-05 240.3300 73161.5547   1.1820 5012.2998  ...   1.1802 5008.7002
2026-02-06 246.3000 71681.3047   1.1826 4958.5000  ...   1.1777 4762.0000
2026-02-07      NaN 71611.1484      NaN       NaN  ...      NaN       NaN
2026-02-08      NaN 72206.9062      NaN       NaN  ...      NaN       NaN
2026-02-09 245.8400 71369.9688   1.1925 5065.7002  ...   1.1826 5017.3999

Price                                Volume                                   \
Ticker         MSFT       ^DJI           BA       BTC-USD EURUSD=X      GC=F
Date
2014-10-01  39.1936 17040.4609 5265200.0000      26229400   0.0000  178.0000
2014-10-02  38.8209 16808.2695 3204500.0000      21777700   0.0000  176.0000
2014-10-03  38.9479 16802.1992 3075900.0000      30901200   0.0000  499.0000
2014-10-04      NaN        NaN          NaN      47236500      NaN       NaN
2014-10-05      NaN        NaN          NaN      83308096      NaN       NaN
...             ...        ...          ...           ...      ...       ...
2026-02-05 407.4400 49313.0391 7377300.0000  125509410908   0.0000  793.0000
2026-02-06 399.1700 49032.1914 6701200.0000  114674259489   0.0000 1386.0000
2026-02-07      NaN        NaN          NaN   62347107663      NaN       NaN
2026-02-08      NaN        NaN          NaN   39721722619      NaN       NaN
2026-02-09 404.8500 50047.7891 4707200.0000   52081598792   0.0000  170.0000

Price
Ticker              MSFT           ^DJI
Date
2014-10-01 38088400.0000 104240000.0000
2014-10-02 25119400.0000  75490000.0000
2014-10-03 32453200.0000  87940000.0000
2014-10-04           NaN            NaN
2014-10-05           NaN            NaN
...                  ...            ...
2026-02-05 66289200.0000 710270000.0000
2026-02-06 53515300.0000 775490000.0000
2026-02-07           NaN            NaN
2026-02-08           NaN            NaN
2026-02-09 45480500.0000 623640000.0000

[4150 rows x 30 columns]